{{vm.questions}}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="image-container margin-after">
                <img src="img/{{vm.q.image}}" class="img img-responsive full-width" />
            </div>
            <countdown ng-model="vm.time" ng-change="vm.setAnswer()" ng-if="vm.q.answers"></countdown>
        </div>
        <div class="col-sm-8">
            <h2>{{vm.q.question}}</h2>
            <ul class="list-unstyled questions">
                <li ng-repeat="answer in vm.q.answers">
                    <button class="btn btn-effect btn-lg btn-block" ng-click="vm.setAnswer(answer)">
                                <span>
                                    {{answer.answer}}
                                </span>
                            </button>
                </li>

            </ul>
            
        </div>
    </div>


</div>