<div class="container">
    <div class="row margin-after">
        <div class="col-sm-8">
            <h1>Dus jij denkt iets van kunst te weten?</h1>
            <p>Laat maar zien of jij iets weet van schilderijen en hun schilders.</p>
            <p class="margin-after"><a class="btn btn-effect btn-lg" href="#/register" role="button">
                    Okidoki!
                    </a></p>
        </div>
        <div class="col-sm-4">
            <img src="img/gallery.jpg" class="img img-responsive full-width" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <ranking></ranking>
        </div>
    </div>
</div>